FRONTEND_URL=http://localhost:5173
PORT=8080
MONGODB_URI=mongodb://<username>:<password>@<host>:27017/<db>
RESEND_API=<resend_api_key>
JWT_SECRET_KEY=<jwt_secret>
CLODINARY_CLOUD_NAME=<cloud_name>
CLODINARY_API_KEY=<cloudinary_api_key>
CLODINARY_API_SECRET_KEY=<cloudinary_api_secret>
